*{
  box-sizing:border-box;
}
html,body{
  height:100%;
  position: fixed;
  top:0;left:0;bottom:0;right:0;
}
body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background:white;
  color:black;
}

.main-title{
  font-size:15px;
}

header{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:48px;
  font-size: 16px;
  color:black;
  padding: 0px 10px;
  background:white;

  display:flex;
  align-items:center;
  justify-content:space-between;
}

.logo {
  height:35px;
  margin-right:10px;
}

.text-input-wrap{
  position:absolute;
  bottom:4px;
  left:2px;
  width:99%;
  height:48px;
  border-top:1px solid white;
}

.text-input{
  border:1px solid black;
  width:99%;
  border-radius:17px;
  padding:0 5px;
  position:absolute;
  left:4px;
  top:4px;
  height:38px;
  outline:none;
}
.button{
  cursor:pointer;
  position: absolute;
  height:29px;
  right:10px;
  top:7px;
  margin:0px 6px;
  background:transparent;
  border:1px solid white;
  color:black;
  font-size:20px;
  padding:4px;
  cursor: pointer;
  outline:none;
}

.button:hover{
  color:rgb(26, 115, 232);
}

.messages{
  height:calc(100vh - 96px);
  width:100vw;
  position: absolute;
  top:48px;
  left:0px;
  display:flex;
  flex-direction: column-reverse;
  overflow-y:scroll;
}
.message-wrap{
  width:100%;
}
.message{
  color:rgb(38, 90, 173);
  background:rgb(210, 227, 252);
  margin:10px;
  border-radius:15px;
  padding:7px 15px;
  display: inline-block;
}

.name-button{
  height:29px;
  margin:0px 6px;
  background:transparent;
  border:1px solid white;
  color:black;
  font-size:20px;
  padding:4px;
  cursor: pointer;
  outline:none;
}
.name-button:hover{
  color:rgb(26, 115, 232);
}

.edit-username{
  display: flex;
  align-items: center;
}

.name-input{
  color:black;
  height:38px;
  border:1px solid white;
  border-radius: 20px;
  padding-left:12px;
  background:rgb(241, 243, 244);
  padding-bottom:0px;
  font-size:16px;
}