*{
  box-sizing:border-box;
}
html,body, #root{
  height:100%;
  position: fixed;
  top:0;left:0;bottom:0px;right:0;
}

body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background:white;
  color:black;
}

.main-title{
  font-size:15px;
}

header{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:48px;
  font-size: 1rem;
  color:black;
  padding: 0px 10px;
  background:white;

  display:flex;
  align-items:center;
  justify-content:space-between;
}

.logo {
  height:35px;
  margin-right:15px;
}

.title{
  position: absolute;
  top:13px;
  left:55px;
}


.text-input-wrap{
  position:absolute;
  bottom:15px;
  left:10px;
  width:100%;
  height:48px;
  border-top:1px solid white;
}

.text-input{
  border:1px solid black;
  width:96%;
  border-radius:17px;
  padding:0 10px;
  position:absolute;
  left:0px;
  top:4px;
  height:38px;
  outline:none;
}

.button{
  position: absolute;
  left:96.5%;
  bottom:6px;
  height:37px;
  width:37px;
  border-radius:20px;
  border:1px solid black;
  background:white;
  color:black;
}

.button:hover{
  color:rgb(26, 115, 232);
}

.messages{
  font-size: 17px;
  height:calc(100% - 8rem);
  width:100vw;
  position: absolute;
  top:48px;
  left:0px;
  display:flex;
  flex-direction: column-reverse;
  overflow-y:auto;
  
}
.message-wrap{
  width:100%;
  display:flex;
  justify-content: flex-start;
}

.message-wrap[from='me']{
  justify-content: flex-end;
}

.message{
  color:rgb(38, 90, 173);
  background:rgb(210, 227, 252);
  margin:10px;
  border-radius:15px;
  padding:7px 15px;
  display: inline-block;
}

.name-button{
  height:29px;
  margin:0px 6px;
  background:transparent;
  border:1px solid white;
  color:black;
  font-size:20px;
  padding:4px;
  cursor: pointer;
  outline:none;
}
.name-button:hover{
  color:rgb(26, 115, 232);
}

.edit-username{
  display: flex;
  align-items: center;
}

.name-input{
  color:black;
  height:38px;
  border:1px solid white;
  border-radius: 20px;
  padding-left:12px;
  background:rgb(241, 243, 244);
  padding-bottom:0px;
  font-size:16px;
}

.message{
  position: relative;
  margin-top:10px;
}

.msg-name{
  font-size:11px;
  position:absolute;
  top:-16px;
  left:5px;

}

.size-input{
  border:1px solid black;
  width:2%;
  border-radius:17px;
  padding:0 10px;
  position:absolute;
  left:1795px;
  top:4px;
  height:38px;
  outline:none;
}